/* Breadcrums */
.breadcrums_content {
    display: flex;
    flex-direction: column;
}
.breadcrumbs_banner_block {
    position: relative;
    background-image: url('../images/everis_medical_instruments.png');
    background-size: cover;
}
.breadcrumbs_banner_block::after {
    content: "";
    background-color: rgb(38 38 112 / 55%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.breadcrumbs_banner_block .breadcrums_content {
    padding: 140px 0 70px;
    position: relative;
    z-index: 1;
}
.breadcrumbs_banner_block .breadcrums_content .page_title {
    color: var(--color-white);
    margin-bottom: 10px;
    order: 0;
}
.breadcrums_content .header_right {
    justify-content: center;
    display: none !important;
}
.breadcrumbs_banner_block .breadcrums_content .breadcrumb {
    order: 1;
    margin: 0;
}
.breadcrums_content .breadcrums_img {
    order: 2;
    width: max-content;
    position: absolute;
    bottom: -40px;
    z-index: -1;
    right: 100px;
}
@media (max-width: 1199px) {
    .breadcrums_content .breadcrums_img {
        right: 0;
    }
}
@media (max-width: 991px) {
    .breadcrumbs_banner_block .breadcrums_content {
        padding: 100px 0 50px;
        text-align: center;
    }
    .breadcrums_content .page_title {
        text-align: center;
    }
    .breadcrums_content .breadcrumb {
        justify-content: center;
    }
    .breadcrums_content .header_right {
        display: flex !important;
        margin-bottom: 2rem;
    }
    .breadcrums_content .header_right .search_input {
        max-width: unset;
    }
    .breadcrums_content .breadcrums_img {
        position: relative;
        margin-bottom: -50px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* How to order page */
.ordering_block_columns_block {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.ordering_block_columns {
    flex: 1;
}
.ordering_block_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ordering_block_header .block_heading {
    font-size: 33px;
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}
.ordering_block_header .block_heading.active {
    background: -webkit-linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ordering_block_columns p {
    margin: 0;
    font-size: 18px;
    word-break: break-word;
}
.ordering_block_columns .block_text_content,
.ordering_block_columns .block_text_content a {
    color: #00000059;
}
.ordering_block_columns .block_link_content{
    font-weight: 600;
}
.ordering_block_columns .block_link_content a {
    color: var(--color-blue);
}
.ordering_block_columns_block .ordering_contents_text {
    display: none;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--primary-orange);
}
.ordering_block_columns_block .ordering_contents_text.active {
    display: none;
}
.ordering_contents_text {
    display: none;
    margin-top: 5rem;
}
.ordering_contents_text.active {
    display: block;
}
.ordering_contents_text .block_heading {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ordering_contents_text .ordering_contents_para {
    margin-bottom: 1rem;
    color: var(--color-blue);
    font-size: 18px;
}
.ordering_contents_text .ordering_contents_para:last-child {
    margin-bottom: 0;
}
@media (max-width: 991px) {
    .ordering_block_header .block_heading,
    .ordering_contents_text .block_heading {
        font-size: 25px;
    }
    .ordering_block_columns p,
    .ordering_contents_text .ordering_contents_para {
        font-size: 16px;
    }
    .ordering_block_columns_block {
        gap: 1rem;
    }
}
@media (max-width: 767px) {
    .ordering_block_contents {
        display: none;
    }
    .ordering_block_columns_block {
        flex-direction: column;
        gap: 3rem;
    }
    .ordering_block_columns {
        max-width: 500px;
        margin: auto;
        text-align: center;
        width: 100%;
        padding: 3rem;
        border-radius: 8px;
        background-color: var(--color-lightwhite);
    }
    .ordering_block_columns_block .ordering_contents_text.active {
        display: block;
    }
}
@media (max-width: 575px) {
    .ordering_block_columns {
        padding: 2rem 1rem;
    }
}

/* Cart Modal */
.cartModal {
    z-index: 11111;
}
.cartModal.show {
    display: flex !important;
}
.cartModal .modal-dialog {
    height: 100%;
    margin: 0 0 0 auto;
    overflow-y: auto;
}
.cartModal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
    padding: 2rem;
    overflow-y: auto;
}
.cart_modal_content .modal-header {
    border: 0;
    padding: 0;
    font-weight: 600;
}
.cart_modal_content .modal-header .modal-title {
    font-size: 32px;
    color: var(--color-blue);
}
.cart_modal_content .modal-header .btn-close {
    color: #374957;
    box-shadow: unset;
    outline: none;
    opacity: 1;
    font-size: 20px;
    background: transparent;
    line-height: 1;
}
.cart_modal_content .modal-header .btn-close:hover {
    color: var(--primary-orange);
}
.cart_modal_content .modal-footer {
    padding: 20px 0 0;
    border-color: var(--color-gray);
    justify-content: start;
    gap: 1rem;
}
.cart_modal_content .btn-checkout {
    width: 100%;
    margin: 0;
    text-align: center;
}
.cart_modal_content .btn-checkout:hover {
    background-color: var(--primary-blue);
    color: var(--color-white);
}
.cart_modal_content .modal-footer .btn_view_cart {
    color: var(--primary-orange);
    width: 100%;
    text-align: center;
    margin: 0;
}
.cart_modal_content .modal-footer .btn_view_cart:hover {
    color: var(--primary-blue);
}
.cartModal .modal-content .modal-body {
    padding: 2rem 0;
}
.cart_product_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart_product_item {
    display: flex;
    gap: 1rem;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-gray);
}
.cart_product_item:last-child {
    border-bottom: 0;
}
.cart_product_item .cart_product_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: var(--color-lightwhite);
    border-radius: 8px;
}
.cart_product_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart_product_content a {
    text-decoration: none;
}
.cart_product_content .cart_product_title_block,
.cart_product_content .cart_product_price_quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.cart_product_content .cart_product_title_block p {
    margin: 0;
    color: var(--color-blue);
    font-weight: 600;
    font-size: 18px;
}
.cart_product_content .cart_product_title_block .cart_remove {
    background: transparent;
    border: unset;
    box-shadow: unset;
    outline: unset;
    line-height: 1;
    color: #FF0000;
    font-size: 18px;
}
.cart_product_price_quantity .product_price {
    font-size: 18px;
    margin: 0;
    text-align: right;
    font-weight: 800;
}
.product_quantity {
    display: flex;
    background-color: var(--color-lightwhite);
    max-width: max-content;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-blue);
    border-radius: 8px;
}
.product_quantity input.product_qty {
    width: 50px;
    text-align: center;
    padding: 0;
    border: none;
    box-shadow: unset;
    outline: none;
    background: transparent;
    color: var(--color-blue);
}

.product_quantity input.product_qty::-webkit-outer-spin-button,
.product_quantity input.product_qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_quantity input.product_qty {
  -moz-appearance: textfield;
}
.product_quantity span {
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0;
    cursor: pointer;
}
.cart_total {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}
.cart_total .cart_total_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.cart_total .cart_total_list p {
    margin: 0;
    font-weight: 600;
    color: var(--color-blue);
}
.cart_total .cart_total_list p.cart_total_text {
    color: var(--color-bg);
}
@media (max-width: 767px) {
    .cartModal .modal-dialog {
        height: 95%;
        margin: auto;
        padding: 10px;
    }
}
@media (max-width: 575px) {
    .cartModal .modal-content {
        padding: 1rem;
    }
    .cartModal .modal-content .modal-body {
        padding: 1rem 0;
    }
    .cart_product_item .cart_product_img {
        width: 60px;
        height: 60px;
    }
    .cart_product_content .cart_product_title_block p,
    .btn-text-only {
        font-size: 16px;
    }
    .product_quantity input.product_qty {
        width: 30px;
    }
}
/* Cart Page */
.heading2 {
    font-size: 30px;
    color: var(--color-blue);
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.cart_items_table {
    width: 100%;
    background-color: var(--color-lightwhite);
    border-radius: 8px;
}
.cart_items_table tr th, 
.cart_items_table tr td {
    font-weight: 600;
}
.cart_items_table tr td {
    padding: 15px;
    vertical-align: top;
}
.cart_items_table tr th {
    font-size: 18px;
    color: var(--color-blue);
    text-align: center;
    width: 22%;
    padding: 10px 15px;
}
.cart_items_table tr th.w-40 {
    width: 34%;
}
.cart_items_table tbody tr {
    border-top: 1px solid var(--color-bg);
    position: relative;
}
.cart_items_table .cart_product_item {
    padding: 0;
}
.cart_items_table .product_quantity {
    margin: auto;
    border: 1px solid var(--color-blue);
    padding: 0;
}
.cart_items_table .product_quantity span {
    padding: 7px;
}
.cart_items_table .product_quantity .product_qty {
    border-left: 1px solid var(--color-blue);
    border-right: 1px solid var(--color-blue);
}
.cart_items_table .cart_product_item .cart_product_content{
    gap: 0.5rem;
}
.cart_items_table .cart_product_item .product_subtitle {
    margin: 0;
    color: var(--color-bg);
    text-transform: uppercase;
}
.cart_items_table .remove_product {
    background-color: #D9D9D9B8;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}
.cart_items_table .remove_product:hover {
    background-color: var(--primary-orange);
    color: var(--color-white);
}
.cart_items_table .product_remove_text {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 991px) {
    .cart_items_table tr td,
    .cart_items_table tr th {
        padding: 6px;
    }
    .cart_items_table .cart_product_item .cart_product_img {
        width: 60px;
        height: 60px;
    }
    .cart_items_table .cart_product_content .cart_product_title_block p {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .cart_items_table thead {
        display: none;
    }
    .cart_items_table tr td {
        display: block;
        text-align: left !important;
    }
    .cart_items_table tr td::before {
        content: attr(data-label);
        float: left;
        color: #000;
        padding-right: 10px;
        width: 100%;
        max-width: 130px;
    }
    .cart_items_table .product_quantity {
        margin-left: 0;
    }
    .cart_items_table .product_remove_text {
        justify-content: start;
    }
    .cart_items_table tbody tr {
        padding: 10px;
        display: block;
    }
    .cart_items_table tbody tr:first-child {
        border-top: 0;
    }
    .cart_items_table .cart_product_item {
        padding-right: 25px;
    }
    .cart_items_table .remove_product {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
    .heading2 {
        font-size: 25px;
        margin-bottom: 2rem;
    }
}
/* Cart summary block */
.order_summary_block {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-top: 3rem;
    background-color: var(--color-lightwhite);
    border-radius: 8px;
    padding: 30px;
}
.order_summary_block .heading2 {
    text-align: left;
    margin-bottom: 2rem;
}
.cart_total .cart_total_list p.cart_total_text.gradient_text {
    font-size: 20px;
}
.cart_btn_block {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart_btn_block .btn-checkout:hover {
    background-color: var(--primary-blue);
    color: var(--color-white);
}
@media (max-width: 767px) {
    .order_summary_block {
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .order_summary_block {
        padding: 16px;
    }
}

/* Checkout page */
form.checkout_form {
    display: flex;
    gap: 3rem;
}
.checkout_form .shipping_address {
    flex: 1;
}
.checkout_form .order_details_block {
    width: 100%;
    max-width: 470px;
    padding: 0 2rem;
}
.heading2.text-left {
    text-align: left;
    margin-bottom: 2rem;
}
.heading3 {
    font-size: 20px;
    color: var(--color-blue);
    margin-bottom: 2rem;
    font-weight: 600;
}
.checkout_form .form-row {
    padding: 8px 0;
}
.checkout_form .form-row .form-control {
    padding: 12px 20px;
    box-shadow: unset;
    font-weight: 600;
    border: 1px solid #00000033;
    border-radius: 8px;
}
.checkout_form .form-row .form-control:focus {
    border-color: var(--primary-orange);
}
.checkout_form .form-row .form-control::placeholder {
    color: var(--color-bg);
}
.checkout_form .form-row .iti {
    width: 100%;
}
.checkout_form .form-row.form-check label {
    color: var(--color-bg);
    font-weight: 600;
}
.checkout_form .form-row .form-check-input {
    padding: 0;
    width: 18px;
    height: 18px;
    margin: 3px 10px 0 0;
    box-shadow: unset;
}
.divider {
    height: 1px;
    background-color: var(--color-bg);
    width: 100%;
    margin: 2rem 0;
}
.payment_form_title {
    font-weight: 600;
    color: var(--color-blue);
}
.checkout_form .form-row-flex {
    display: flex;
    gap: 1rem;
}
.payment_form_item {
    margin-bottom: 2rem;
}
@media (max-width: 1024px) {
    form.checkout_form {
        gap: 0;
    }
}
@media (max-width: 991px) {
    form.checkout_form {
        flex-direction: column;
        gap: 3rem;
    }
    .checkout_form .order_details_block {
        padding: 0;
    }
}
@media (max-width: 600px) {
    .checkout_form .order_details_block {
        max-width: 100%;
    }
    .checkout_form .form-row-flex {
        flex-direction: column;
        gap: 0;
    }
}
/* Login page */
.login_signup_block {
    background-color: var(--color-lightwhite);
    max-width: 655px;
    margin: auto;
    border-radius: 8px;
    padding: 4rem 5rem;
}
.login_signup_heading {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-blue);
    margin-bottom: 20px;
}
.login_signup_content {
    color: var(--color-blue);
    margin-bottom: 3rem;
    font-family: 'Poppins';
}
.login_signup_form .form-control {
    padding: 12px 8px 12px 0px;
    font-family: 'Poppins';
    color: var(--color-blue);
    border-left: 0;
    box-shadow: unset;
    outline: unset;
    border-color: var(--color-bg);
}
.login_signup_form .form-control::placeholder {
    color: var(--color-bg);
}
.login_signup_form .input-group {
    padding-bottom: 1.2rem;
}
.login_signup_form .input-group .input-group-text {
    line-height: 1;
    font-size: 20px;
    color: var(--color-bg);
    background-color: var(--color-white);
    border-color: var(--color-bg);
    padding: 8px 15px;
}
.login_signup_form .btn-form-submit {
    width: 100%;
    margin: 20px 0 10px;
    padding: 16.5px 30px;
}
.login_signup_form .btn-form-submit:hover {
    background-color: var(--primary-blue);
    color: var(--color-white);
}
.login_signup_form .btn-forgot-password {
    color: var(--color-blue);
    margin: 20px 0;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}
.login_signup_form .btn-forgot-password:hover {
    color: var(--primary-orange);
}
@media (max-width: 575px) {
    .login_signup_block {
        padding: 1.5rem;
    }
    .login_signup_heading {
        font-size: 30px;
    }
    .login_signup_form .btn-form-submit {
        margin: 10px 0;
    }
}

/* Register Page */
.signup_form .form-row {
    padding-bottom: 1.2rem;
}
.signup_form .form-row .form-control {
    padding: 12px 20px;
    border: 1px solid var(--color-bg);
}
.signup_form .form-row .form-control:focus {
    border-color: var(--primary-orange);
}
.signup_form .form-row .form-control.password_field {
    padding-right: 30px;
}
.signup_form .form-row .toggle-password {
    position: absolute;
    right: 10px;
    top: 14px;
    color: var(--color-bg);
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
}
.signup_form .form-row label {
    font-family: 'Poppins';
    color: var(--color-blue);
}
.signup_form .form-row .form-check-input {
    border: 1px solid var(--color-bg);
}