/* Breadcrums */
.breadcrums_content .breadcrumb {
    margin-bottom: 10px;
}
.breadcrums_content .breadcrumb-item {
    font-size: 13px;
}
.breadcrums_content .breadcrumb-item a {
    color: var(--color-white);
    text-decoration: none;
}
.breadcrums_content .breadcrumb-item a:hover {
    color: var(--primary-orange);
}
.breadcrums_content .breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-white);
}
.breadcrums_content .page_title {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
.breadcrum-bg .breadcrums_content .header_right .search_input,
.breadcrum-bg .breadcrums_content .header_right .btn-header-cart {
    color: var(--color-blue);
    border-color: var(--color-blue);
}
.breadcrum-bg .breadcrums_content .header_right .btn-submit,
.breadcrum-bg .breadcrums_content .header_right .search_input::placeholder {
    color: var(--color-blue);
}
/* Product listing sidebar */
.product_listing_flex {
    display: flex;
    gap: 24px;
    align-items: start;
}
.products_sidebar {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    background-color: var(--color-lightwhite);
    border-radius: 8px;
    padding: 20px;
}
.products_sidebar .products_sidebar_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.products_sidebar .products_sidebar_list .sidebar_list_item .products_sidebar_link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-blue);
    padding: 10px 0;
    position: relative;
    text-decoration: none;
}
.products_sidebar .products_sidebar_list .sidebar_list_item .products_sidebar_link::after {
    content: "";
    background: linear-gradient(90deg, #EA6432 0%, rgba(244, 148, 36, 0.917647) 100%);
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.products_sidebar .products_sidebar_list .sidebar_list_item.active .products_sidebar_link::after {
    width: 100%;
}
.products_sidebar .products_sidebar_list .sidebar_list_item p {
    margin: 0;
}
.products_sidebar .products_sidebar_list .sidebar_list_item .products_sidebar_link:hover .sidebar_item_name{
    color: var(--primary-orange);
}

/* Products lists */
.products_lists {
    flex: 1;
    width: 100%;
}
.products_lists .product_listing_title {
    font-size: 33px;
    font-weight: 600;
    color: var(--color-blue);
    margin-bottom: 30px;
}
.products_lists_grid {
    display: grid;
    gap: 40px 24px;
    grid-template-columns: repeat(3,1fr);
}
.product_lists_item.product_block {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0;
}
.product_lists_item.product_block .product_text {
    margin-top: auto;
}
.product_lists_item.product_block .product_img_block {
    background-color: var(--color-lightwhite);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
    display: flex;
    overflow: hidden;
}
.product_lists_item.product_block .product_img_block .product_img {
     transition: transform .2s;
}
.product_lists_item.product_block:hover .product_img_block .product_img {
    transform: scale(1.2);
}
@media (max-width: 1199px) {
    .products_lists_grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 991px) {
    .product_listing_flex {
        flex-direction: column;
    }
    .products_sidebar {
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .products_lists_grid {
        grid-template-columns: repeat(1,1fr);
    }
    .products_lists .product_listing_title {
        font-size: 30px;
        margin: 20px 0 40px;
    }
}

/* Questions section */
.questions_btn_section .button_flex {
    flex: 1;
    justify-content: center;
    z-index: 1;
}
.questions_btn_section .question_content {
    margin-bottom: 0;
}
.questions_btn_section {
    padding: 40px 40px 40px 70px;
}
@media (max-width: 991px) {
    .questions_btn_section .button_flex {
        margin-right: auto;
        margin-top: 30px;
    }
    .questions_btn_section {
        padding: 40px;
    }
}
@media (max-width: 575px) {
    .questions_btn_section {
        padding: 40px 20px;
    }
}

/* Product Detail page */
.breadcrum-bg .breadcrums_content .breadcrumb-item a,
.breadcrum-bg .breadcrums_content .breadcrumb-item.active, 
.breadcrum-bg .breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-blue);
}
.breadcrum-bg .breadcrums_content .breadcrumb-item a:hover {
    color: var(--primary-orange);
}

/* Related product slider */
.related_products_section {
    overflow-x: hidden;
}
.related_products_slider .slick-track {
    display: flex;
    gap: 0;
}
.related_products_slider .product_block {
    margin-right: 24px;
}
.related_products_slider .slick-track::before,
.related_products_slider .slick-track::after {
    display: none;
}
.related_products_slider .related_product_item {
    height: auto;
    padding: 0;
}
.related_products_slider .slick-list {
    margin-right: -24px;
}
@media (max-width: 1199px) and (min-width: 576px) {
    .related_products_section .categories_top {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}
@media (max-width: 991px) {
    .related_products_slider .slick-list {
        padding-left: 0 !important;
    }
    .related_products_slider .slick-list {
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .related_products_slider .related_product_item {
        padding: 0;
    }
    .related_products_slider .slick-track {
        gap: 0px;
    }
    .related_products_slider .slick-list {
        margin-right: -20px;
    }
    .related_products_slider .product_block {
        margin-right: 20px;
    }
}
/* Product Detail Section */
.d-mobile {
    display: none !important;
}
.product_details_content .product_subtitle {
    color: var(--color-bg);
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.product_details_content .product_title {
    color: var(--color-blue);
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 36px;
}
.product_details_content .product_price {
    display: flex;
    gap: 15px;
    font-size: 28px;
    font-weight: 700;
}
.product_price .cutted_price {
    text-decoration: line-through;
}
.product_specification {
    padding: 0;
    list-style: none;
    margin: 30px 0;
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    display: flex;
}
.product_specification .product_specification_item {
    padding: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex: auto;
    font-weight: 500;
}
.product_specification .product_specification_item p {
    margin: 0;
}
.product_specification .product_specification_item .specification_title {
    color: var(--color-blue);
    font-weight: 600;
}
.product_specification .product_specification_item .specification_content {
    font-size: 18px;
    font-weight: 500;
}
.product_specification .product_specification_item {
    border-right: 1px solid var(--color-gray);
}
.product_specification .product_specification_item:last-child {
    border-right: 0;
}
.product_cart_buy {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.product_cart_buy button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 8px;
    padding: 10px 30px;
    font-family: "Montserrat-Bold";
    outline: none;
}
.product_cart_buy button i {
    line-height: 1;
    font-size: 24px;
}
.product_cart_buy .btn-add-to-cart {
    background: linear-gradient(90deg, var(--gradient-blue1) 0%, var(--gradient-blue2) 100%);
    color: var(--color-white);
    border: 1px solid var(--primary-blue);
}
.product_cart_buy .btn-add-to-cart:hover {
    background: var(--primary-orange);
    border-color: var(--primary-orange);
}
.product_description {
    border: 1px solid var(--color-gray);
    padding: 25px;
    border-radius: 8px;
    margin: 30px 0;
}
.product_description p {
    margin: 0;
    font-weight: 500;
    font-weight: 500;
}
.product_description_head, .product_variant .product_variant_title {
    color: var(--color-blue);
    margin-bottom: 10px;
    font-weight: 600;
}
.product_variant {
    margin-bottom: 30px;
}
.product_variant .btn-variant-group {
    gap: 1rem;
}
.product_variant .btn-variant-group .btn-radio-select {
    background-color: var(--color-lightwhite);
    border-radius: 4px !important;
    padding: 11.5px 17px;
    font-size: 18px;
    color: var(--color-blue);
    text-transform: capitalize;
    font-weight: 500;
    border: none;
}
.product_variant .btn-variant-group .btn-radio-select:hover {
    background-color: var(--color-bg);
}
.product_variant .btn-variant-group .btn-radio-select.active {
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    color: var(--color-white);
}
.product_variant .btn-variant-group .btn-radio-select input {
    display: none;
}
@media (max-width: 1099px) {
    .product_specification {
        flex-direction: column;
    }
    .product_specification .product_specification_item {
        border-right: 0;
        border-bottom: 1px solid var(--color-gray);
        flex-direction: row;
        padding: 0;
    }
    .product_specification .product_specification_item p {
        flex: 0 0 50%;
        padding: 10px 15px;
        word-break: break-all;
    }
    .product_specification .product_specification_item:last-child {
        border-bottom: 0;
    }
    .product_specification .product_specification_item .specification_title {
        border-right: 1px solid var(--color-gray);
    }
}
@media (max-width: 767px) {
    .d-mobile {
        display: inherit !important;
    }
    .product_details_content .d-desktop {
        display: none;
    }
}
@media (max-width: 575px) {
    .product_cart_buy {
        gap: 1rem;
    }
    .product_details_content .product_subtitle {
        font-size: 16px;
    }
    .product_details_content .product_price {
        font-size: 20px;
    }
    .product_cart_buy button {
        font-size: 16px;
        padding: 8px 18px;
    }
    .product_variant .btn-variant-group .btn-radio-select {
        font-size: 16px;
        padding: 11px 17px;
    }
    .product_description p,
    .product_description_head, .product_variant .product_variant_title {
        font-size: 15px;
    }
    .product_details_content .product_subtitle {
        font-size: 13px;
    }
    .product_details_content .product_title {
        font-size: 25px;
    }
}

/* Product gallery */
.product_detail_slider{
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.product_slider_selection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_slider_selection .product-thumbnail{
  width: 84px;
  height: 84px;
  cursor: pointer;
  transition: .3s ease;
  opacity: .5;
  background-color: var(--color-lightwhite);
}

.product_slider_selection .product-thumbnail:hover{
  opacity: 1;
}

.product_slider_selection .product-thumbnail.selected{
  opacity: 1;
  border: 1px solid var(--color-black);
}
.product_slider_selection .product-thumbnail .thumbnail {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.product-large-image{
  position: relative;
  width: 100%;
  height: 540px;
  cursor: zoom-in;
  overflow: hidden;
  background-color: var(--color-lightwhite);
}

.product-large-image .product-display-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-large-image img.zoom{
  position: absolute;
  transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s; 
  background-color: var(--color-lightwhite);
}
@media (max-width: 1299px) and (min-width: 768px) {
    .product_detail_slider {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .product_slider_selection {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (max-width: 1025px) and (min-width: 768px) {
    .product-large-image {
        height: 450px;
    } 
}
@media (max-width: 767px) {
    .product_details_content {
        margin-top: 40px;
    }
    .product_detail_slider {
        margin-top: 25px;
    }
}
@media (max-width: 575px) {
    .product_detail_slider {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .product_slider_selection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product-large-image {
        height: 388px;
    } 
    .product_slider_selection .product-thumbnail {
        width: 61px;
        height: 61px;
    }
}