:root {
    --primary-orange: #F47C20;
    --primary-blue: #262670;
    --color-gradient1: #EA6432;
    --color-gradient2: #F49424EA;
    --color-blue: #125580;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-lightblack: #374957;
    --color-bg: #C5C5C5;
    --gradient-blue1: #262770;
    --gradient-blue2: #232460;
    --primary-green: #116757;
    --color-lightwhite: #F8F8F8;
    --breadcrumb-bg: #E7EEF2;
    --color-gray: #E9E9E9;
    --bs-border-radius: 8px;
    --other-bg-color: #E1E8EC;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}
body {
    font-family: "Montserrat";
    position: relative;
}
.body-bg {
    background-color: #FFF6F6;
}
i[class^="fi-rr-"]:before {
    vertical-align: middle;
}
.form-check-input:checked {
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
}
a {
    text-decoration: unset;
    outline: unset;
}
.relative {
    position: relative;
}
.container-xxl {
    max-width: 1364px;
}
.section-padding {
    padding: 40px 15px;
}
.section-top-padding {
    padding-top: 80px;
}
.section-bottom-padding {
    padding-bottom: 80px;
}
.gradient_text {
    background: -webkit-linear-gradient(0deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-primary-green {
    background-color: var(--primary-green);
    color: var(--color-white);
}
.color-gray{
    color: var(--color-bg);
}
.breadcrum-bg {
    background-color: var(--breadcrumb-bg);
}
.btn-gradient-blue {
    background-color: var(--gradient-blue2);
    padding: 11.5px 30px;
    border-radius: 8px;
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: unset;
    font-weight: 700;
}
.btn-gradient-blue:hover {
    background-color: var(--primary-orange);
}
@media (max-width: 991px) {
    .section-padding {
        padding: 40px 10px;
    }
    .no-top-padding {
        padding-top: 0;
    }
    .padding-mobile-bottom {
        padding-bottom: 80px;
    }
}
@media (max-width: 575px) {
    .btn-gradient-blue {
        padding: 11px 30px;
        font-size: 16px;
    }
}
/* header */
.header_main {
    position: relative;
}
.header_main .navbar {
    z-index: 111;
    position: absolute;
    width: 100%;
    color: var(--color-white);
    padding: 32px 15px;
    top: 0;
    left: 0;
}
.header_main .navbar div {
    z-index: 111;
}
.blue_header .navbar{
    position: relative;
    background: linear-gradient(90deg, var(--gradient-blue1) 0%, var(--gradient-blue2) 100%);
}
.blue_header .navbar:after {
    content: "";
    background-image: url("../images/header-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header_main .navbar-brand {
    padding: 0;
    margin-right: 3rem;
}
.header_main .navbar-nav .nav-item .nav-link {
    color: var(--color-white);
    font-family: "Poppins";
}
.header_main .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary-orange);
}
.header_main .navbar-nav .dropdown-menu .dropdown-item {
    font-family: "Poppins";
}
.header_main .navbar-nav .dropdown-menu .dropdown-item:hover,
.header_main .navbar-nav .dropdown-menu .dropdown-item:active {
    color: var(--primary-orange);
    background-color: transparent;
}
.header_main .navbar-nav,
.header_right {
    gap: 1rem;
}
@media (max-width: 1300px){
    .header_main .navbar-brand {
        margin-right: 0;
    }
    .header_main .navbar-nav,
    .header_right {
        gap: 0.5rem;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .header_right form.d-flex {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .header_main .navbar {
        padding: 30px 0px;
    }
    .header_main .navbar-brand .logo_main {
        max-width: 150px;
    }
}
@media (max-width: 575px) {
    /* .header_main .navbar-brand .logo_main {
        max-width: 120px;
    } */
}

/* header right */
.header_right .search_input {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    max-width: 208px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px 10px 45px;
    box-shadow: unset;
    font-family: "Poppins";
}
.header_right .search_input::placeholder {
    color: #ffffff80;
}
.header_right .search_input:focus {
    border-color: var(--primary-orange);
}
.header_right .btn-submit {
    background-color: transparent;
    border: none;
    box-shadow: unset;
    color: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    outline: none;
}
.header_right .btn-header-cart {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 8px;
    outline: none;
    box-shadow: unset;
    position: relative;
    padding: 6px 12px;
    font-size: 24px;
    width: 50px;
    height: 50px;
}
.header_right .btn-header-cart:hover {
    border-color: var(--primary-orange);
}
.header_right .btn-header-cart i,
.header_right .btn-submit i {
    display: flex;
}
.header_right .btn-header-cart .cart_amount {
    position: absolute;
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    width: 18px;
    height: 18px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    border-radius: 50%;
    right: 3px;
    top: 3px;
    color: var(--color-white);
}
.header_right .btn-login {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-white);
    background-color: var(--primary-orange);
    font-size: 18px;
    border: 1px solid var(--primary-orange);
    color: var(--color-white);
    border-radius: 8px;
    padding: 10px 30px;
    font-family: "Montserrat";
    font-weight: 700;
    min-width: 148px;
}
.header_right .btn-login i {
    line-height: 1;
    font-size: 24px;
}
.header_right .btn-login:hover {
    background-color: transparent;
    border-color: var(--color-white);
}
@media (max-width: 575px) {
    .header_right .btn-login {
        font-size: 16px;
    }
}
/* header mobile */
.header_main .navbar-toggler {
    color: var(--color-white);
    border: none;
    box-shadow: unset;
    font-size: 24px;
    line-height: 1;
}
#mainnavbar.collapse.show {
    position: fixed;
    max-width: 480px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: var(--color-white);
    z-index: 1111;
}
#mainnavbar.collapse.show  .nav-item .nav-link{
    color: var(--color-blue);
}
.mobile_toggle {
    text-align: right;
}
#mobiletoggle_close {
    color: var(--color-lightblack);
    font-size: 24px;
}
#mainnavbar.collapse.show .header_right {
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    gap: 1rem;
}
#mainnavbar.collapse.show .header_right .btn-header-cart,
#mainnavbar.collapse.show .header_right .search_input {
    border-color: var(--primary-orange);
    color: var(--primary-orange);
}
#mainnavbar.collapse.show .header_right .btn-submit {
    color: var(--primary-orange);
}
#mainnavbar.collapse.show .header_right .search_input::placeholder {
    color: var(--color-lightblack);
}
#mainnavbar.collapse.show .header_right .search_input,
#mainnavbar.collapse.show .header_right form {
    max-width: 100%;
    width: 100%;
}
#mainnavbar.collapse.show .navbar-nav .dropdown-menu {
    border: none;
}
#mainnavbar.collapse.show .navbar-nav .dropdown-menu .dropdown-item {
    color: var(--color-blue);
}
#mainnavbar.collapse.show .header_right .btn-header-cart,
#mainnavbar.collapse.show .header_right form {
    display: none !important;
}
#mainnavbar.collapse.show .header_right .btn-login:hover {
    background-color: var(--primary-blue);
}

/* footer */
.main_footer {
    background-color: var(--primary-blue);
    color: var(--color-white);
    font-family: "Poppins";
    padding: 0 15px;
    position: relative;
    min-height: 540px;
}
.main_footer .footer_top{
    padding: 72px 0 40px;
    gap: 1.5rem;
    justify-content: space-between;
}
.main_footer .footer_top > div {
    flex: 1;
    max-width: max-content;
}
.main_footer .footer_heading {
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
}
.main_footer .footer_heading.mt-5 {
    margin-top: 40px !important;
    margin-bottom: 20px;
}
.main_footer .footer_menu {
    list-style: none;
    padding: 0;
}
.main_footer .footer_menu .footer_menu_link {
    color: var(--color-white);
    padding: 5px 0;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}
.main_footer .footer_menu .footer_menu_link:hover,
.main_footer .footer_contact a:hover  {
    color: var(--primary-orange);
}
.main_footer .footer_content {
    margin-top: 50px;
    max-width: 295px;
}
.main_footer .footer_contact,
.main_footer .footer_contact a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
}
.main_footer .footer_social {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
    display: flex;
    gap: 10px;
}
.main_footer .footer_social li .social_icons {
    width: 30px;
    filter: brightness(0) invert(1);
}
.main_footer .footer_social li .social_icons:hover {
    filter: none;
}
.footer_copyright::before {
    content: "";
    position: absolute;
    background-color: #FFFFFF3D;
    height: 1px;
    width: 100%;
    left: 0;
}
.footer_copyright .footer_bottom {
    padding: 20px 0;
}
.footer_copyright .footer_bottom .copyright_text {
    margin: 0;
    font-size: 15px;
}
.footer_copyright .footer_bottom_links {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: end;
    margin: 0;
    padding: 0;
}
.footer_copyright .footer_bottom_links li {
    position: relative;
}
.footer_copyright .footer_bottom_links li::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    background-color: var(--color-white);
}
.footer_copyright .footer_bottom_links li:last-child::after {
    display: none;
}
.footer_copyright .footer_bottom_links a,
.footer_copyright .footer_bottom .copyright_text a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 15px;
}
.footer_copyright .footer_bottom_links a:hover,
.footer_copyright .footer_bottom .copyright_text a:hover {
    color: var(--primary-orange);
}
@media (max-width: 1281px) {
    .main_footer .footer_menu .footer_menu_link,
    .main_footer .footer_content,
    .main_footer .footer_contact, 
    .main_footer .footer_contact a {
        font-size: 15px;
    }
    .main_footer .footer_heading {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .main_footer .footer_top {
        padding: 50px 0px;
        gap: 1.5rem 0;
    }
    .main_footer .footer_top > div {
        flex: auto;
        max-width: 100%;
    }
    .footer_copyright .footer_bottom {
        padding: 20px 0;
    }
    .main_footer {
        padding: 0 10px;
    }
}
@media (max-width: 767px) {
    .main_footer .footer_heading {
        margin-top: 30px !important;
        margin-bottom: 20px;
    }
    .main_footer .footer_top {
        gap: 0;
    }
    .footer_copyright .footer_bottom .copyright_text {
        text-align: center;
    }
    .footer_copyright .footer_bottom_links {
        justify-content: center;
        margin-top: 15px;
    }
    .footer_col {
        text-align: center;
    }
    .main_footer .footer_social {
        justify-content: center;
    }
    .main_footer .footer_content {
        margin: 30px auto 20px;
    }
}
@media (max-width : 575px) {
    .main_footer .footer_content {
        max-width: 100%;
    }
}

/* banner */
.banner_section {
    background-color: var(--primary-blue);
    position: relative;
    color: var(--color-white);
}
.banner_section:after {
    content: "";
    background-image: url("../images/header-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner_slick_slider.slick-slider {
    z-index: 1;
    margin: 0;
}
.slick_banner_slides {
    min-height: 500px;
    padding: 114px 0 0;
    z-index: 1;
}
.slick_banner_slides .banner_slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.slick_banner_slides .banner_slide .slide_block {
    flex: 1;
}
.slick_banner_slides .slide_right_block.slide_block {
    padding: 30px;
    max-width: max-content;
}
.banner_subheading {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.banner_heading {
    font-size: 44px;
    margin: 20px 0 30px;
    font-weight: 500;
    max-width: 560px;
}
.banner_heading span {
    color: var(--primary-orange);
}
.banner_text {
    font-family: 'Poppins';
    margin-bottom: 30px;
    max-width: 420px;
    font-weight: 400;
}
.btn-gradient {
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    padding: 11.5px 30px;
    border-radius: 8px;
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: unset;
}
.btn-gradient:hover {
    background: var(--color-white);
    color: var(--primary-orange);
}

.banner_slick_slider.slick-slider.slick-dotted .slick-dots {
    bottom: 30px;
    right: 0px;
    width: max-content;
}
.banner_slick_slider.slick-slider.slick-dotted .slick-dots li button {
    width: 10px;
    height: 10px;
}
.banner_slick_slider.slick-slider.slick-dotted .slick-dots li button:before {
    font-size: 10px;
    color: var(--color-bg);
    opacity: 1;
    line-height: 1;
    width: 10px;
    height: 10px;
}
.banner_slick_slider.slick-slider.slick-dotted .slick-dots li.slick-active button:before {
    color: var(--primary-orange);
}
@media (max-width: 1199px) {
    .slide_right_block .banner_heading,
    .slide_right_block .banner_text {
        max-width: 100%;
    }
}
@media (max-width: 575px) {
    .btn-gradient {
        padding: 11px 30px;
        font-size: 16px;
    }
    .banner_subheading {
        font-size: 13px;
        font-weight: 500;
    }
    .banner_text {
        font-size: 12px;
        margin-bottom: 15px;
    }
}
/* left image */
.slick_banner_slides .slide_left_block.slide_block {
    position: relative;
}
.banner_slick_slider .slide_left_block.slide_block .banner-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: contain;
}
.slide_left_block.slide_block .float_btn {
    border-radius: 8px;
    position: absolute;
    background-color: #FFFFFF1A;
    font-size: 14px;
    padding: 12.5px 16px;
    font-family: 'Poppins';
}
.slide_left_block.slide_block .float_btn.left_side {
    top: 60px;
    left: 35px;
}
.slide_left_block.slide_block .float_btn.right_top {
    top: 180px;
    right: 68px;
}
.slide_left_block.slide_block .float_btn.right_bottom {
    bottom: 40px;
    right: -22px;
}
.slide_left_block.slide_block .float_btn .line_dot {
    height: 1px;
    width: 30px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.slide_left_block.slide_block .float_btn .line_dot:before {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: auto;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
}
.slide_left_block.slide_block .float_btn.left_side .line_dot {
    right: -64px;
    width: 52px;
}
.slide_left_block.slide_block .float_btn.right_top .line_dot {
    width: 91px;
    left: -105px;
}
.slide_left_block.slide_block .float_btn.right_bottom .line_dot {
    width: 19px;
    left: -29px;
}
@media (max-width: 1399px) and (min-width: 1200px) {
    .slide_left_block.slide_block .float_btn {
        padding: 8px;
        font-size: 13px;
    }
    .slide_left_block.slide_block .float_btn.left_side {
        left: 25px;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 70px;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        right: -15px;
    }
}
@media (max-width: 1199px){
    .slick_banner_slides .banner_slide {
        flex-direction: column-reverse;
    }
    .banner_slick_slider.slick-slider.slick-dotted .slick-dots {
        right: auto;
        left: auto;
        bottom: 15px;
        width: 100%;
    }
    .slick_banner_slides .slide_right_block.slide_block {
        padding-bottom: 50px;
    }
    .slick_banner_slides .banner_slide .slide_block {
        width: 100%;
        padding: 30px 20px 0;
    }
    .slide_left_block.slide_block .float_btn.left_side {
        left: 22%;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 25%;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        right: 15%;
    }
    .slide_left_block.slide_block .float_btn.right_bottom .line_dot {
        width: 30px;
        left: -40px;
    }
}
@media (max-width: 991px){
    .slide_left_block.slide_block .float_btn.left_side {
        left: 11%;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 15%;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        right: 5%;
    }
}
@media (max-width: 767px) {
    .slide_left_block.slide_block .float_btn.left_side {
        left: 0%;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 5%;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        right: 0%;
    }
}
@media (max-width: 575px) {
    .slick_banner_slides {
        padding: 100px 0 0;
    }
    .slick_banner_slides .slide_right_block.slide_block {
        padding: 30px 12px 0px;
    }
    .banner_heading {
        font-size: 30px;
        margin-top: 10px;
    }
    .slide_left_block.slide_block .float_btn {
        padding: 5px 10px;
        font-size: 13px;
    }
    .banner_slick_slider .slide_left_block.slide_block .banner-image {
        max-width: 300px;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 3%;
        top: 136px;
    }
}
@media (max-width: 440px) {
    .banner_slick_slider .slide_left_block.slide_block .banner-image {
        max-width: 259px;
    }
    .slide_left_block.slide_block .float_btn.left_side {
        top: 60px;
        left: 12px;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 35px;
        top: 124px;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        bottom: 26px;
        left: 30px;
        right: auto;
    }
    .slide_left_block.slide_block .float_btn.right_top .line_dot {
        width: 24px;
        left: -32px;
    }
    .slide_left_block.slide_block .float_btn.left_side .line_dot {
        right: -24px;
        width: 18px;
    }
    .slide_left_block.slide_block .float_btn.right_bottom .line_dot {
        width: 15px;
        right: -20px;
        left: auto;
    }
    .slide_left_block.slide_block .float_btn.right_bottom .line_dot:before {
        right: auto;
        left: 0;
    }
}
@media (max-width: 400px) {
    .slide_left_block.slide_block .float_btn.left_side {
        top: 40px;
        left: 0;
    }
    .slide_left_block.slide_block .float_btn.right_top {
        right: 0px;
        top: 120px;
    }
    .slide_left_block.slide_block .float_btn.right_bottom {
        bottom: 30px;
        left: 0;
        right: auto;
    }
}
/* Our Top Products */
.categories_top {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 50px;
}
.subheading {
    background: -webkit-linear-gradient(0deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main_heading {
    font-size: 33px;
    font-weight: 600;
    margin: 0;
    color: var(--color-blue);
}
.categories_right_tab {
    flex: 1;
}
.categories_right_tab .nav.nav-pills {
    justify-content: end;
    gap: 1rem;
}
.categories_right_tab .nav.nav-pills .nav-link {
    font-size: 14px;
    font-family: 'Poppins';
    background-color: #1255801A;
    padding: 12.5px 16px;
    border-radius: 8px;
    color: var(--color-blue);
}
.categories_right_tab .nav.nav-pills .nav-link.active,
.categories_right_tab .nav.nav-pills .nav-link:hover {
    color: var(--color-white);
    background-color: var(--primary-orange);
}
@media (max-width: 1199px) {
    .categories_right_tab .nav.nav-pills {
        justify-content: center;
    }
    .categories_top {
        text-align: center;
        flex-direction: column;
    }
}
@media (max-width: 575px) {
    .subheading {
        font-size: 18px;
    }
    .main_heading {
        font-size: 25px;
    }
    .categories_top {
        margin-bottom: 30px;
    }
}
.categories_product_flex {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4,1fr);
}
.product_block {
    background-color: var(--color-lightwhite);
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}
.product_block a {
    text-decoration: unset;
}
.product_block .product_title {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-blue);
}
.product_block:hover .product_title {
    color: var(--primary-orange);
}
.product_block .product_text {
    color: var(--color-bg);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 14px;
}
.product_block .product_img_link {
    display: block;
    overflow: hidden;
}
.product_block .product_img {
    width: 100%;
    object-fit: contain;
    transition: transform .2s;
}
.product_block:hover .product_img_link .product_img {
    transform: scale(1.2);
}
.product_block .product_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0 10px;
}
.product_block .product_price .cutted_price {
    margin: 0;
    color: var(--color-bg);
    text-decoration: line-through;
    font-weight: 500;
}
.product_block .product_price .price_text {
    margin: 0;
    color: var(--color-bg);
    font-weight: 500;
}
.product_block .product_price .price {
    font-size: 20px;
    margin: 0;
    background: -webkit-linear-gradient(0deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}
.add_to_cart_block {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}
.add_to_cart_block .btn_product{
    padding: 11.5px 8px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    border: none;
    flex: 1;
}
.add_to_cart_block .btn_buy_now {
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 100%);
    color: var(--color-white);
    font-weight: 600;
}
.add_to_cart_block .btn_buy_now:hover {
    color: var(--color-white);
    background: var(--primary-blue);
}
.add_to_cart_block .btn_cart {
    background: transparent;
    color: var(--color-blue);
}
.add_to_cart_block .btn_cart:hover {
    color: var(--primary-orange);
}
@media (max-width: 1199px) {
    .categories_product_flex {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 991px) {
    .categories_product_flex {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 767px) {
    .product_block {
        padding: 15px;
    }
    .add_to_cart_block .btn_product {
        padding: 11px 8px;
        font-size: 16px;
    }
    .add_to_cart_block .btn_cart {
        font-size: 18px;
    }
    .add_to_cart_block {
        gap: 5px;
    }
}
@media (max-width: 575px) {
    .categories_product_flex {
        grid-template-columns: repeat(1,1fr);
    }
}
/* Product categories */
.categories_grid {
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(5, 1fr);
}
.categories_grid .categories_grid_item {
    width: 100%;
}
.categories_grid .categories_grid_item a {
    text-align: center;
    text-decoration: unset;
}
.categories_grid .categories_grid_item .categories_image_div {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.categories_grid .categories_grid_item .categories_image {
    object-fit: contain;
    max-width: 100%;
    background-color: #f7f7f7;
    border-radius: 8px;
    transition: transform .2s;
}
.categories_grid .categories_grid_item a:hover .categories_image {
    transform: scale(1.2);
}
.categories_grid .categories_grid_item .categories_name {
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 0;
    font-weight: 500;
}
.categories_grid .categories_grid_item a:hover .categories_name {
    color: var(--primary-orange);
}
@media (max-width: 1199px) {
    .categories_grid {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width: 991px) {
    .categories_grid {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 767px) {
    .categories_grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 439px) {
    .categories_grid {
        grid-template-columns: repeat(1,1fr);
    }
    .categories_grid .categories_grid_item {
        max-width: 238px;
        margin: auto;
    }
}

/* Question section */
.question_block_bg {
    background: linear-gradient(90deg, var(--gradient-blue1) 0%, var(--gradient-blue2) 100%);
    border-radius: 8px;
    color: var(--color-white);
    position: relative;
    padding: 0 40px 0 70px;
    display: flex;
    align-items: center;
}
.question_block_bg:after {
    content: "";
    background-image: url("../images/header-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.question_block_bg .question_content_block {
    z-index: 1;
}
.question_block_bg .question_bg_image {
    position: relative;
    max-height: 556px;
    margin-top: -50px;
    height: 100%;
    z-index: 1;
    max-width: 100%;
}
.question_block_bg .question_content_block {
    z-index: 1;
    padding: 30px;
    flex: 1;
}
.question_block_bg .question_content_block .question_heading {
    font-size: 40px;
    margin: 0;
    font-weight: 500;
}
.question_block_bg .question_content_block .question_heading span {
    display: block;
}
.question_block_bg .question_content {
    font-family: 'Poppins';
    margin: 30px 0 40px;
}
.button_flex {
    display: flex;
    gap: 15px;
}
.button_flex button {
    padding: 11.5px 30px;
    border-radius: 8px;
}
.btn-text-only {
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: unset;
    background-color: transparent;
}
.btn-text-only:hover {
    color: var(--primary-orange);
}
@media (max-width: 1299px) {
    .question_block_bg .question_content_block {
        padding: 0;
    }
    .button_flex button {
        padding: 11px 30px;
    }
}
@media (max-width: 1199px) {
    .question_block_bg .question_bg_image {
        max-height: 430px;
    }
    .question_block_bg {
        padding: 0px 30px;
    }
}
@media (max-width: 991px) {
    .question_block_bg {
        flex-direction: column;
        padding: 60px;
    }
    .question_block_bg .question_bg_image {
        margin: 0;
        display: none;
    }
}
@media (max-width: 575px) {
    .question_block_bg .question_content_block .question_heading {
        line-height: 1.2;
    }
    .question_block_bg {
        padding: 40px 30px;
    }
    .button_flex {
        flex-direction: column;
        align-items: start;
    }
    .button_flex .btn-text-only{
        padding: 15px 0;
        font-size: 18px;
    }
    .question_block_bg .question_content {
        margin: 30px 0;
    }
}

/* Latest News */
.latest_news_section {
    overflow-x: hidden;
}
.latest_news_slider .slick-track {
    display: flex;
    gap: 0;
}
.latest_news_slider .slick-list {
    margin-right: -24px;
}
.latest_news_slider .slick-track::before,
.latest_news_slider .slick-track::after {
    display: none;
}
.latest_news_slider .slick-track:after, 
.latest_news_slider .slick-track:before {
    display: none;
}
.latest_news_arrows {
    justify-content: end;
    display: flex;
    gap: 1rem;
}
.latest_news_arrows .slick-arrow {
    border: none;
    background: transparent;
    box-shadow: unset;
    outline: none;
    color: var(--color-blue);
}
.latest_news_arrows .slick-arrow:hover {
    color: var(--primary-orange);
}
.latest_news_arrows .slick-arrow i {
    line-height: 1;
    font-size: 24px;
}
.latest_news_slider .latest_news_item {
    height: auto;
    padding: 0;
    margin-right: 24px;
}
.latest_news_block {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.latest_news_block a {
    text-decoration: unset;
}
.latest_news_block .news_link_img {
    overflow: hidden;
    display: block;
    border-radius: 8px;
}
.latest_news_block .news_img {
    border-radius: 8px;
    max-height: 238px;
    height: 100%;
    min-height: 238px;
    transition: transform .2s;
    object-fit: cover;
    width: 100%;
}
.latest_news_block:hover .news_img {
    transform: scale(1.2);
}
.latest_news_block .news_date {
    color: var(--color-bg);
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0 15px 0;
}
.latest_news_block .news_title {
    font-size: 25px;
    font-weight: 500;
    color: var(--color-blue);
    margin-bottom: 30px;
}
.latest_news_block .news_title:hover {
    color: var(--primary-orange);
}
.latest_news_block .news_read_more {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--primary-orange);
    margin-top: auto;
}
.latest_news_block .news_read_more:hover {
    color: var(--color-blue);
}
.latest_news_arrows.arrows_bottom {
    display: none;
}
@media (max-width: 1199px) and (min-width: 576px) {
    .latest_news_section .categories_top {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}
@media (max-width: 767px) {
    .latest_news_slider .slick-list {
        padding-left: 0 !important;
    }
    .latest_news_slider .slick-list {
        margin: 0;
    }
}
@media (max-width: 575px) {
    .latest_news_block .news_title {
        margin-bottom: 20px;
    }
    .latest_news_slider .latest_news_item {
        padding: 0;
    }
    .latest_news_slider .slick-track {
        gap: 0px;
    }
    .latest_news_slider .slick-list {
        margin-right: -20px;
    }
    .latest_news_slider .latest_news_item {
        margin-right: 20px;
    }
    .categories_right_tab.latest_news_arrows {
        display: none;
    }
    .latest_news_arrows.arrows_bottom {
        display: flex;
        justify-content: center;
    }
    .latest_news_slider {
        margin: 40px 0 30px;
    }
}